.ll-simple {
	border: 1px solid #bbbbbb;
	background: white;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.ll-simple a, .ll-simple a:hover, .ll-simple a:focus, .ll-simple a:active {
	padding: 11px 10px;
	/* make room for the toggle button (sub indicator) */
	padding-right: 58px;
	/*color: #555555;*/
	color: #000;
	font-size: inherit;
	font-weight: normal;
	line-height: 10px;
	text-decoration: none;
}
.ll-simple a.current {
	background:#ccccee;
	color:#000;
}
.ll-simple a.disabled {
	color: #cccccc;
}
.ll-simple a span.sub-arrow {
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: auto;
	right: 4px;
	width: 34px;
	height: 34px;
	overflow: hidden;
	font: bold 14px/34px monospace !important;
	text-align: center;
	text-shadow: none;
	background: rgba(0, 0, 0, 0.08);
}
.ll-simple a.highlighted span.sub-arrow:before {
	display: block;
	content: '-';
}
.ll-simple li {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.ll-simple > li:first-child {
	border-top: 0;
}
.ll-simple ul {
	background: rgba(179, 179, 179, 0.1);
}
.ll-simple ul a, .ll-simple ul a:hover, .ll-simple ul a:focus, .ll-simple ul a:active {
	border-left: 8px solid transparent;
}
.ll-simple ul ul a,
.ll-simple ul ul a:hover,
.ll-simple ul ul a:focus,
.ll-simple ul ul a:active {
	border-left: 16px solid transparent;
}
.ll-simple ul ul ul a,
.ll-simple ul ul ul a:hover,
.ll-simple ul ul ul a:focus,
.ll-simple ul ul ul a:active {
	border-left: 24px solid transparent;
}
.ll-simple ul ul ul ul a,
.ll-simple ul ul ul ul a:hover,
.ll-simple ul ul ul ul a:focus,
.ll-simple ul ul ul ul a:active {
	border-left: 32px solid transparent;
}
.ll-simple ul ul ul ul ul a,
.ll-simple ul ul ul ul ul a:hover,
.ll-simple ul ul ul ul ul a:focus,
.ll-simple ul ul ul ul ul a:active {
	border-left: 40px solid transparent;
}

@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
	 These transform the menu tree from
	 collapsible to desktop (navbar + dropdowns)
	 -----------------------------------------------*/
	 /* start... (it's not recommended editing these rules) */
	 .ll-simple ul {
	 	position: absolute;
	 	width: 12em;
	 }

	 .ll-simple li {
	 	float: left;
	 }

	 .ll-simple.sm-rtl li {
	 	float: right;
	 }

	 .ll-simple ul li, .ll-simple.sm-rtl ul li, .ll-simple.sm-vertical li {
	 	float: none;
	 }

	 .ll-simple a {
	 	white-space: nowrap;
	 }

	 .ll-simple ul a, .ll-simple.sm-vertical a {
	 	white-space: normal;
	 }

	 .ll-simple .sm-nowrap > li > a, .ll-simple .sm-nowrap > li > :not(ul) a {
	 	white-space: nowrap;
	 }

	 /* ...end */
	 .ll-simple {
	 	background: white;
	 }
	 .ll-simple a, .ll-simple a:hover, .ll-simple a:focus, .ll-simple a:active, .ll-simple a.highlighted {
	 	padding: 11px 20px;
	 	/*color: #555555;*/
	 }
	 .ll-simple a:hover, .ll-simple a:focus, .ll-simple a:active, .ll-simple a.highlighted {
		background:#003965;
		color:#fff;
	 }
	 .ll-simple a.current {
	 	background: #555555;
	 	color: white;
	 }
	 .ll-simple a.disabled {
	 	background: white;
	 	color: #cccccc;
	 }
	 .ll-simple a.has-submenu {
	 	padding-right: 32px;
	 }
	 .ll-simple a span.sub-arrow {
	 	top: 50%;
	 	margin-top: -8px;
	 	right: 20px;
	 	width: 8px;
	 	height: 16px;
	 	font: 14px/16px monospace !important;
	 	background: transparent;
	 }
	 .ll-simple a.highlighted span.sub-arrow:before {
	 	display: none;
	 }
	 .ll-simple > li {
	 	border-top: 0;
	 	border-left: 1px solid #eeeeee;
	 }
	 .ll-simple > li:first-child {
	 	border-left: 0;
	 }
	 .ll-simple ul {
	 	border: 1px solid #bbbbbb;
	 	background: white;
	 	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	 	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	 }
	 .ll-simple ul a {
	 	border: 0 !important;
	 }
	 .ll-simple ul a.has-submenu {
	 	padding-right: 20px;
	 }
	 .ll-simple ul a span.sub-arrow {
	 	right: auto;
	 	margin-left: -12px;
	 }
	 .ll-simple ul > li {
	 	border-left: 0;
	 	border-top: 1px solid #eeeeee;
	 }
	 .ll-simple ul > li:first-child {
	 	border-top: 0;
	 }
	 .ll-simple span.scroll-up,
	 .ll-simple span.scroll-down {
	 	position: absolute;
	 	display: none;
	 	visibility: hidden;
	 	overflow: hidden;
	 	background: white;
	 	height: 20px;
	 }
	 .ll-simple span.scroll-up-arrow, .ll-simple span.scroll-down-arrow {
	 	position: absolute;
	 	top: -2px;
	 	left: 50%;
	 	margin-left: -8px;
	 	width: 0;
	 	height: 0;
	 	overflow: hidden;
	 	border-width: 8px;
	 	border-style: dashed dashed solid dashed;
	 	border-color: transparent transparent #555555 transparent;
	 }
	 .ll-simple span.scroll-down-arrow {
	 	top: 6px;
	 	border-style: solid dashed dashed dashed;
	 	border-color: #555555 transparent transparent transparent;
	 }
	 .ll-simple.sm-rtl a.has-submenu {
	 	padding-right: 20px;
	 	padding-left: 32px;
	 }
	 .ll-simple.sm-rtl a span.sub-arrow {
	 	right: auto;
	 	left: 20px;
	 }
	 .ll-simple.sm-rtl.sm-vertical a.has-submenu {
	 	padding: 11px 20px;
	 }
	 .ll-simple.sm-rtl.sm-vertical a span.sub-arrow {
	 	right: 20px;
	 	margin-right: -12px;
	 }
	 .ll-simple.sm-rtl > li:first-child {
	 	border-left: 1px solid #eeeeee;
	 }
	 .ll-simple.sm-rtl > li:last-child {
	 	border-left: 0;
	 }
	 .ll-simple.sm-rtl ul a.has-submenu {
	 	padding: 11px 20px;
	 }
	 .ll-simple.sm-rtl ul a span.sub-arrow {
	 	right: 20px;
	 	margin-right: -12px;
	 }
	 .ll-simple.sm-vertical a span.sub-arrow {
	 	right: auto;
	 	margin-left: -12px;
	 }
	 .ll-simple.sm-vertical li {
	 	border-left: 0;
	 	border-top: 1px solid #eeeeee;
	 }
	 .ll-simple.sm-vertical > li:first-child {
	 	border-top: 0;
	 }
	}
