$custom-spacing: $unit-4;

// Layout
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: $custom-spacing;
	padding-right: $custom-spacing;
	width: 100%;

	$grid-spacing: ($custom-spacing / ($custom-spacing * 0 + 1)) * $html-font-size;

	&.grid-xl {
		max-width: $grid-spacing * 2 + $size-xl;
	}

	&.grid-lg {
		max-width: $grid-spacing * 2 + $size-lg;
	}

	&.grid-md {
		max-width: $grid-spacing * 2 + $size-md;
	}

	&.grid-sm {
		max-width: $grid-spacing * 2 + $size-sm;
	}

	&.grid-xs {
		max-width: $grid-spacing * 2 + $size-xs;
	}
}

// Responsive grid system
.columns {
	margin-left: -$custom-spacing;
	margin-right: -$custom-spacing;
}
.column {
	padding-left: $custom-spacing;
	padding-right: $custom-spacing;
}
