// Default Spectre vars for reference

// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;


// COSMOS

// Colors.css
$clrs-navy: #001f3f;
$clrs-blue: #0074d9;
$clrs-aqua: #7fdbff;
$clrs-teal: #39cccc;
$clrs-olive: #3d9970;
$clrs-green: #2ecc40;
$clrs-lime: #01ff70;
$clrs-yellow: #ffdc00;
$clrs-orange: #ff851b;
$clrs-red: #ff4136;
$clrs-fuchsia: #f012be;
$clrs-purple: #b10dc9;
$clrs-maroon: #85144b;
$clrs-white: #ffffff;
$clrs-gray: #aaaaaa;
$clrs-grey: $clrs-gray;
$clrs-silver: #dddddd;
$clrs-black: #111111;

// Living Lab palette
$grey-dark: #444;
$grey: #666;
$grey-medium: #bbb;
$grey-light: #f2f0f1;
$navy: #003965;
$red: #d60724;

// Spectre override
$primary-color: $navy;
$dark-color: $grey-dark;

$gray-color: #666;		//lighten($dark-color, 55%) !default;
$gray-color-dark: #444;		//darken($gray-color, 30%) !default;
$gray-color-medium: #bbb;
$gray-color-light: #f2f0f1;		//lighten($gray-color, 20%) !default;

$sidebar-width: 16rem;
$border-color: $gray-color-medium;
$bg-color: $gray-color-light;
