<!DOCTYPE html>
<html lang="en">
<head>
	<title>Living Lab</title>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" type="text/css" href="/assets/admin/main.css">
</head>

<body>

	<div id="livinglab" data-enable-registration="{{ enableReg }}" data-home-uri="/" data-version="{{ app_version }}"></div>
	<script src="/assets/admin/main.js"></script>

</body>

</html>
