<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" type="text/css" href="/assets/cosmos/main.css">
	<script>window.config = {{ config | dump | safe }};</script>
</head>

<body>

	<div id="app"></div>
	<script src="/assets/cosmos/main.js"></script>
	{% if fathom_site_id %}
	<!-- Fathom - simple website analytics - https://usefathom.com -->
	<script>
	(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
	(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
	})(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
	fathom('set', 'siteId', '{{ fathom_site_id }}');
	fathom('trackPageview');
	fathom('set', 'spa', 'hash');
	</script>
	<!-- / Fathom -->
	{% endif %}

</body>

</html>
