<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="designscreen.css">
	<link rel="stylesheet" href="jstree_3.3.5/themes/default/style.css" />
	<link href='smartmenus/css/sm-core-css.css' rel='stylesheet' type='text/css' />
	<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
	<link href='smartmenus/css/ll-simple/ll-simple.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="jquery-ui.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<script src="jquery-2.1.1.min.js"></script>
	<script src="jquery-ui.min.js"></script>
	<script src="smartmenus/jquery.smartmenus.min.js" type="text/javascript"></script>
	<script src="konva.js"></script>
	<script src="jstree_3.3.5/jstree.min.js"></script>
	<script src="md5.min.js"></script>
	<script src="idle.js"></script>
	<script src="howler.core.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="propertytable.js"></script>
	<script src="kineticselectors.js"></script>
	<script src="llcore.js"></script>
	<script src="objecttree.js"></script>
	<script src="arrows.js"></script>
	<script src="actions.js"></script>
	<script src="designscreen.js"></script>
	<script src="browser-support.js"></script>
	<title>Design [Living Lab]</title>

<!--
	<script src="dsmin.js"></script> -->

</head>
<body>
	<div id="page">
		<div id="leftcolumn">
			<ul id="treemenu" class="sm ll-simple">
				<li><a href="#">Project</a>
					<ul>
						<li><a href="javascript:newProject()">new</a></li>
						<li><a href="javascript:loadProjects()">projects</a></li>
						<li><a href="javascript:saveProject()">save</a></li>
						<li><a href="javascript:saveasnewProject()">save as new</a></li>
						<li id="playlist"><a href="javascript:compileViews()">save playlist</a></li>
						<li><a href="javascript:showExportProject()">export</a></li>
						<li><a href="#modal_project_import">import</a></li>
					</ul>
				</li>
				<li><a href="#">Layers</a>
					<ul>
						<li onclick="addLayer()"><a href="#">add layer</a></li>
						<li onclick="deleteLayer()"><a href="#">delete layer</a></li>
						<li onclick="duplicateLayer()"><a href="#">duplicate layer</a></li>
						<li onclick="showExportLayer()"><a href="javascript:;">export layer</a></li>
						<li onclick="showImportLayer()"><a href="javascript:;">import layer</a></li>
					</ul>
				</li>
				<li class="treemenu-left-toggle">
					<a href="javascript:toggleSidebar(false)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg></a>
				</li>
			</ul>
			<div id="treespace">
				<div id="tree">
				</div>
				<div id="projects">
				</div>
			</div>
			<div id="propedit">
				<table id="proptable">
				</table>
			</div>
		</div>
		<div id="showleft">
			<a href="javascript:toggleSidebar(true)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg></a>
		</div>
		<div id="rightcolumn">
			<div id="menu">
				<div class="buttonbox">new object:</div>
				<div class="buttonbox"><select id="objecttypeselect"></select></div>
				<div class="buttonbox"><button id="createbutton" class="menubutton" title="create" onclick="createObject()">create</button></div>
				<div class="buttonbox"><button id="copybutton" class="menubutton" title="copy" onclick="copyObject()">copy</button></div>
				<div class="buttonbox"><button id="deletebutton" class="menubutton" title="delete" onclick="delObject()">delete</button></div>
				<div class="buttonbox"><button id="ungroupbutton" class="menubutton" title="ungroup" onclick="ungroupObjects()">ungroup</button></div>
				<div class="buttonbox"><button id="multiselectbutton" class="menubutton" title="multiselect" onclick="togMultiselect()">group select</button></div>
				<div class="buttonbox"><button id="groupbutton" class="menubutton" title="group" onclick="groupObjects()">group</button></div>
				<!--		<div class="buttonbox"><button id="arrowbutton" class="menubutton" title="arrow" onclick="makeCurvedArrow()">arrow</button></div> -->

				<div id="screencontrol">
					<div class="buttonbox"><button id="showallbutton" class="menubutton" title="show all" onclick="togShowall()">show all</button></div>
					<div class="buttonbox"><button id="txscrbutton" class="menubutton" title="layer start state" onclick="setLayerStartState()">layer start</button></div>
					<div class="buttonbox"><button id="fullscrbutton" class="menubutton" title="toggle fullscreen" onclick="togFullscreen()">full screen</button></div>
				</div>
			</div>
			<div id="designspace">

				<div class="canvas-table">
					<div class="canvas-cell">
						<div id="designstage" class="screenspace"></div>
					</div>
				</div>

			</div>
			<div class="tabs">
				<ul class="tab-links">
					<li class="active"><a href="#tab1">Library</a></li>
					<li><a href="#tab2">Actions</a></li>
				</ul>

				<div class="tab-content">
					<div id="tab1" class="tab active">
						<div id="libmenu" >
							<div class="buttonbox"><button class="menubutton" title="use" onclick="libuse()">use</button></div>
							<div id="filterpanel">filter string
								<input type="text" id="filtername" size="10">
								<input type="button" value="filter" onclick="filterlib()">
								<input type="button" value="reset" onclick="resetlib()">
							</div>
						</div>
						<div id="libpane">
						</div>
					</div>

					<div id="tab2" class="tab">
						<div id="actionmenu" >
							<div class="buttonbox">action type:</div>
							<div class="buttonbox"><select id="actiontypeselect" onchange="actionselect()"></select></div>
							<div class="buttonbox"><button class="actionmenubutton" title="new action" onclick="newAction()">create </button></div>
							<div class="buttonbox"><button class="actionmenubutton" title="delete action" onclick="deleteAction()">delete</button></div>
							<div class="buttonbox"><button class="actionmenubutton" title="start" onclick="startActionEvent()">start</button></div>
							<div class="buttonbox"><button class="actionmenubutton" title="end" onclick="endActionEvent()">end</button></div>
							<div class="buttonbox"><button class="actionmenubutton" title="play" onclick="playActionEvent()">play</button></div>
							<div class="buttonbox"><input id="castaction" type="checkbox" onchange="setCastmode()" >play mode</div>
							<div class="buttonbox"><button class="actionmenubutton" title="next" onclick="goNextEvent()">next</button></div>

						</div>
						<div id="actionpane">
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>

	<div id="instanceError" style="text-align:center; padding:50px; display: none">
		<h3>Only one design screen can be open at a time.</h3>
	</div>


	<section>
		<div class="modal" id="modal_project_import">
			<a href="#" class="modal-overlay" aria-label="Close"></a>
			<div class="modal-container">
				<form id="uploadform" enctype="multipart/form-data" method="post">
					<div class="modal-header">
						<h3>Import project</h3>
					</div>
					<div class="modal-body">
						<div class="content">
							<input type="file" name="projectfile" id="projectfile">
							<br><br>
						</div>
					</div>
					<div class="modal-footer">
						<button class="menubutton" type="button" onclick="uiHandleProjectUpload()" style="width:auto">Upload File</button>
						&nbsp;
						<a class="menubutton menubutton-link" href="#">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section>
		<div class="modal" id="modal_project_export">
			<a href="#" class="modal-overlay" aria-label="Close"></a>
			<div class="modal-container">
				<div class="modal-header">
					<h3>Export project</h3>
				</div>
				<div class="modal-body">
					<div class="content">
						<p>Processing...</p>
					</div>
				</div>
				<div class="modal-footer">
					<a class="menubutton menubutton-link" href="#">Close</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="modal" id="modal_layer_export">
			<a href="#" class="modal-overlay" aria-label="Close"></a>
			<div class="modal-container">
				<div class="modal-header">
					<h3>Export layer</h3>
					<p>Copy the layer data from the box below.</p>
				</div>
				<div class="modal-body">
					<div class="content">
						<textarea class='layer-data' readonly></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button class="menubutton" onclick="uiHandleExportCopy()" style="width:auto">Copy to clipboard</button>
					<a class="menubutton menubutton-link" href="#">Close</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="modal" id="modal_layer_import">
			<a href="#" class="modal-overlay" aria-label="Close"></a>
			<div class="modal-container">
				<div class="modal-header">
					<h3>Import Layer</h3>
					<p>Paste the layer data below and click Import.</p>
				</div>
				<div class="modal-body">
					<div class="content">
						<textarea class='layer-data'></textarea>
					<!-- <br>
					<label for="import_events_actions" style="font-size:80%">
						<input type="checkbox" name="import_actions" value="1" id="import_events_actions">
						Include events and actions
					</label> -->
					</div>
				</div>
				<div class="modal-footer">
					<button class="menubutton" onclick="uiHandleImport()">Import</button>
					<a class="menubutton menubutton-link" href="#">Cancel</a>
				</div>
			</div>
		</div>
	</section>

<script>
	var auto_save = {% if auto_save %}true{% else %}false{% endif %};
	var single_instance = {% if single_instance %}true{% else %}false{% endif %};
	$( document ).ready(setup());
</script>

</body>
</html>
