<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Present [Living Lab]</title>
	<!-- <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/lib/vex/vex.css">
	<link rel="stylesheet" href="assets/css/lib/vex/vex-theme-livinglab.css">
	<link rel="stylesheet" href="assets/css/living-lab.min.css">
</head>

<body class="page-present">

	<div data-region="app"></div>

	<!-- <script src="jquery-2.1.1.min.js"></script> -->
	<!-- <script src="jquery-ui.min.js"></script> -->
	<!-- <script src="kinetic-v5.1.0.min.js"></script> -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="llcore.js"></script>
	<script src="assets/js/build/present.js"></script>

</body>
</html>

