
// .app-container {
// 	min-height: 100vh;
// }

body {
	overflow: hidden;
}

.app-container {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	max-height: 100vh;
	height: 100vh;
}

.app-toolbar {
	padding: $unit-4;
	border-bottom: $unit-o solid $border-color;
}

.app-sidebar {
	display: block;
	width: $sidebar-width;
	// padding: $unit-4;
	border-right: $unit-o solid $border-color;
	overflow-y: auto;
	height: 100%;
	// background: #eee;

	// .is-editing & {
	// 	display: block;
	// }

	.sidebar-heading {
		background: $gray-color-light;
		font-size: $font-size;
		padding: $unit-2 $unit-4;
		border: $unit-o solid $border-color;
		border-width: $unit-o 0;
		margin-bottom: -$unit-o;

		&:first-child {
			margin-top: -$unit-o;
		}
	}

	.sidebar-content {
		padding: $unit-2 $unit-4 $unit-8 $unit-4;
	}
}

.app-main {
	display: flex;
	flex-direction: row;
	height: 100%;
	// background: $gray-color-light;
}

.app-content {
}


.form-group {
	&:not(:last-child) {
		margin-bottom: $layout-spacing * 2;
	}
	margin-bottom: $layout-spacing * 2;
}

.form-actions {
	padding-top: $control-padding-y;
}

/*

.off-canvas {

	.off-canvas-sidebar {
		width: $sidebar-width;
		border-right: $unit-o solid $gray-color-medium;
	}

	.off-canvas-content {
		padding: 0
	}

}


.app-content {
	flex: 1 1 auto;
	padding: $unit-4;
	width: calc(100vw - $sidebar-width);

	& > .container {
		// margin-left: 0;
		// max-width: 800px;
		// padding-bottom: 1.5rem;
	}

}
 */
