
// .app-container {
// 	min-height: 100vh;
// }

body {
	overflow: hidden;
}

.app-container {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	max-height: 100vh;
	height: 100vh;
}

.app-toolbar {
	padding: $unit-4;
	border-bottom: $unit-o solid $border-color;

	.navbar-buttons {
		.btn-link {
			color: $dark-color;
			margin-right: $unit-2;
			.feather {
				margin-right: $unit-1;
				vertical-align: -10%;
			}
		}
	}
}

.app-sidebar {
	display: block;
	width: $sidebar-width;
	min-width: $sidebar-width;
	// padding: $unit-4;
	border-right: $unit-o solid $border-color;
	overflow-y: auto;
	height: 100%;

	.sidebar-heading {
		background: $gray-color-light;
		font-size: $font-size;
		padding: $unit-2 $unit-4;
		border: $unit-o solid $border-color;
		border-width: $unit-o 0;
		margin-bottom: -$unit-o;
		cursor: default;

		&:first-child {
			margin-top: -$unit-o;
		}

		&.clickable {
			&:hover {
				background: darken($gray-color-light, 7%);
			}
		}
	}

	.sidebar-top {
		margin-bottom: $unit-4;
		.tab {
			margin: 0;
			.tab-item {
				font-size: $font-size-sm;
				a {
					color: inherit;
				}
			}
		}
	}

	.sidebar-content {
		padding: $unit-2 $unit-4 $unit-4 $unit-4;
	}

	.sidebar-footer {
		margin: 0;
		// border-top: $unit-o solid $border-color;
		padding: $unit-6 $unit-4 $unit-6 $unit-4;
	}
}

.app-main {
	display: flex;
	flex-direction: row;
	height: 100%;
	flex: 1 1 auto;
	// background: $gray-color-light;
}

.app-content {
	background: $grey-dark;
	padding: $unit-4;
	width: 100%;
	height: 100%;
	overflow: auto;
	// flex-grow: inherit;
}

.canvas-container {
}

.konvajs-content {
	background: #fff;
}


.form-group {
	&:not(:last-child) {
		margin-bottom: $layout-spacing * 2;
	}
	margin-bottom: $layout-spacing * 2;
}

.form-actions {
	// border-top: $unit-o solid $border-color;
	// padding-top: $control-padding-y * 3;
}




.tile-list-services {

	.tile {
		padding-top: $unit-2;
		padding-bottom: $unit-2;
		border-bottom: $unit-o solid $gray-color-light;
	}
	.tile-title {
		font-weight: bold;
	}
	.tile-subtitle {
		font-size: $font-size-sm;
		color: $gray-color;
	}

	.tile-action .btn {
		opacity: 0.8;
	}
}



.app-toast {
	position: absolute;
	bottom: $layout-spacing-lg;
	left: $layout-spacing-lg;
	max-width: $control-width-sm;
}



// Chips
.user-chip {
	background: darken($bg-color-dark, 10%);
	.avatar {
		background: $primary-color;	//darken($bg-color-dark, 20%);
		text-align: center;
		.feather {
			color: lighten($primary-color, 55%);	//$dark-color;
			vertical-align: -50%;
		}
	}
}



.item-twitter-bg {
	background: #1da1f2;
	color: #f5f8fa;
}

.item-facebook-bg {
	background: #3b5998;
	color: #fff;
}

.item-instagram-bg {
	background: #c32aa3;
	color: #fff;
}



.social-edit-menu {
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: none;

	.menu-item {
		padding-left: 0;
		padding-right: 0;
		width:100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.hashtag {
		color: lighten($gray-color, 20%);
		margin-right: $unit-1;
	}
}




@include text-color-variant(".text-gray-medium", $gray-color-medium);

.text-small {
	font-size: $font-size-sm;
}
