

.pure-form {

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	textarea {
		border: 1px solid @grey-medium;
		.box-sizing(border-box);
		.border-radius(0);
		.box-shadow(none);
		color: @black;
		width: 100%;
		max-width: 100%;
		min-height: 32px;
		&:focus {
			outline: 2px solid @yellow-bright;
		}
	}

}


.pure-form-stacked {

	.pure-control-group {
		margin-bottom: @padding;
	}

	.pure-form-label {
		> label {
			// font-weight: @weight-bold;
			margin: 0 0 @padding-xs;
		}
	}

}
