<h3>Edit Event: <%= name %></h3>

<div class="pure-form pure-form-stacked">

	<% if (name !== "startevent") { %>
	<div class="pure-control-group">
		<div class="pure-form-label">
			<label for="name">Name</label>
		</div>
		<div class="pure-form-input">
			<input name="name" type="text" value="<%- name %>">
		</div>
	</div>
	<% } %>

	<div data-region="views"></div>

	<button class="pure-button" type="button" data-ui="btn_save">Save</button>
	<button class="pure-button button-secondary" type="button" data-ui="btn_cancel">Cancel</button>
	<button class="pure-button button-negative pull-right" type="button" data-ui="btn_delete"><i class="fa fa-times"></i> Delete</button>

</div>
