
<div class="event-group-item-header">
	<div class="pure-g">
		<div class="pure-u-1-24">
			<span class="when-default"><i class="fa fa-fw fa-lg fa-plus-square-o"></i></span>
			<span class="when-active"><i class="fa fa-fw fa-lg fa-minus-square-o"></i></span>
		</div>
		<div class="pure-u-20-24">
			<h3 class="event-group-item-title">
				<span data-ui="group_name"></span>
			</h3>
		</div>
		<div class="pure-u-3-24 text-right">
			<p class="text-meta remove-bottom">Events: <span data-ui="event_count"></span></p>
		</div>
	</div>
</div>

<div class="event-group-item-body">

	<div class="event-group-item-actions">
		<button class="pure-button" data-ui="btn_edit"><i class="fa fa-fw fa-pencil"></i> Edit Group</button>
		<button class="pure-button" data-ui="btn_add_event"><i class="fa fa-fw fa-bolt"></i> Add Event</button>
	</div>

	<ul class="event-list" data-region="header"></ul>

	<div data-region="events"></div>

</div>