<div class="sidebar pure-u-1 pure-u-sm-1-4 pure-u-xl-1-5">

	<h2><span data-ui="project_name"></span></h2>
	<div class="button-collection add-bottom">
		<button class="pure-button size-sm" data-ui="btn_groups_toggle" data-action="expand"><i class="fa fa-fw fa-expand"></i> Expand all groups</button>
		<button class="pure-button size-sm" data-ui="btn_groups_toggle" data-action="collapse"><i class="fa fa-fw fa-compress"></i> Collapse all groups</button>
	</div>

	<div data-region="present"></div>

	<h3><i class="fa fa-fw fa-desktop"></i> Screens</h3>
	<div data-region="screens"></div>

	<br><br>

	<div data-region="props"></div>

</div>

<div class="content pure-u-1 pure-u-sm-3-4 pure-u-xl-4-5">

	<div class="add-bottom">
		<h2><i class="fa fa-fw fa-bolt"></i> Events</h2>
		<button class="pure-button" data-ui="btn_add_group"><i class="fa fa-fw fa-object-group"></i> Add Group</button>
	</div>

	<div data-region="groups"></div>

</div>