<div class="sidebar pure-u-1 pure-u-sm-1-4 pure-u-xl-1-5">

	<h2><span data-ui="project_name"></span></h2>
	<br>

	<h3>Screens</h3>
	<div data-region="screens"></div>

</div>

<div class="content pure-u-1 pure-u-sm-3-4 pure-u-xl-4-5">
	<div>
		<div class="pure-g add-bottom">
			<div class="pure-u-1-2">
				<h2>Events</h2>
				<button class="pure-button" data-ui="btn_add_group">+ Add Group</button>
			</div>
			<div class="pure-u-1-2 text-right">
				<button class="pure-button size-sm" data-ui="btn_groups_toggle" data-action="expand">Expand all</button>
				<button class="pure-button size-sm" data-ui="btn_groups_toggle" data-action="collapse">Collapse all</button>
			</div>
		</div>

		<div data-region="groups"></div>


		<!--
		<ul class="event-group-list">

			<li class="event-group-item">

				<div class="event-group-item-header">
					<div class="pure-g">
						<div class="pure-u-1-24">
							<i class="fa fa-fw fa-lg fa-plus-square-o"></i>
						</div>
						<div class="pure-u-20-24">
							<h3 class="event-group-item-title">
								Group 1
							</h3>
						</div>
						<div class="pure-u-3-24 text-right">
							<p class="text-meta remove-bottom">3 events</p>
						</div>
					</div>
				</div>

				<div class="event-group-item-body">

					<div class="event-group-item-actions">
						<button class="pure-button">Edit Group</button>
						<button class="pure-button">+ Add Event</button>
					</div>

					<ul class="event-list">
						<li class="event-header">
							<div class="pure-g">
								<div class="pure-u-1 pure-u-md-1-6"><strong>Event name</strong></div>
								<div class="pure-u-1 pure-u-md-1-6"><strong>Action</strong></div>
								<div class="pure-u-1 pure-u-md-1-6"><strong>view0</strong></div>
								<div class="pure-u-1 pure-u-md-1-6"><strong>view1</strong></div>
								<div class="pure-u-1 pure-u-md-1-6"><strong>view2</strong></div>
								<div class="pure-u-1 pure-u-md-1-6"><strong>view3</strong></div>
							</div>
						</li>

						<li class="event-item">
							<div class="pure-g">
								<div class="pure-u-1 pure-u-md-1-6">event_name</div>
								<div class="pure-u-1 pure-u-md-1-6">
									<button class="pure-button button-min"><i class="fa fa-fw fa-eject fa-rotate-90"></i> Start</button>
									<button class="pure-button button-min"><i class="fa fa-fw fa-play"></i> Play</button>
								</div>
								<div class="pure-u-1 pure-u-md-1-6">object1</div>
								<div class="pure-u-1 pure-u-md-1-6">object2</div>
								<div class="pure-u-1 pure-u-md-1-6">-</div>
								<div class="pure-u-1 pure-u-md-1-6">object3</div>
							</div>
						</li>
						<li class="event-item">
							<div class="pure-g">
								<div class="pure-u-1 pure-u-md-1-6">event_name</div>
								<div class="pure-u-1 pure-u-md-1-6">
									<button class="pure-button button-min"><i class="fa fa-fw fa-eject fa-rotate-90"></i> Start</button>
									<button class="pure-button button-min"><i class="fa fa-fw fa-play"></i> Play</button>
								</div>
								<div class="pure-u-1 pure-u-md-1-6">object1<br>object2<br>object_3</div>
								<div class="pure-u-1 pure-u-md-1-6">object2</div>
								<div class="pure-u-1 pure-u-md-1-6">-</div>
								<div class="pure-u-1 pure-u-md-1-6">object3</div>
							</div>
						</li>
					</ul>

				</div>
			</li>


			<li class="event-group-item">
				<div class="event-group-item-header">
					<div class="pure-g">
						<div class="pure-u-1-24">
							<i class="fa fa-fw fa-lg fa-plus-square-o"></i>
						</div>
						<div class="pure-u-20-24">
							<h3 class="event-group-item-title">
								Group 2
							</h3>
						</div>
						<div class="pure-u-3-24 text-right">
							<p class="text-meta remove-bottom">3 events</p>
						</div>
					</div>
				</div>
			</li>

		</ul>
		-->

	</div>

</div>