html, button, input, select, textarea {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 13px;
}


html {

}

body {
	/*font-family: Verdana;*/
}

input {
	/*font-family: Verdana;*/
	/*font-size: 11px;*/
}

select {
	/*font-family: Verdana;*/
	/*font-size: 12px;*/
	height: 30px;

}

#page {
	position: absolute;
	width: 98%;
	height: 98%;
	border: 2px solid #bbb;
}

#screencontrol {
	float: right;

}

#leftcolumn {
	position: absolute;
	left: 0px;
	top: 0px;
}

#showleft {
	position: absolute;
	left: 0;
	top: 0;
}
	#showleft a {
		display: block;
		padding: 9px 10px;
		background: #F2F0F1;
		color: #000;
	}
	#showleft a:hover {
		background: #003965;
		color: #fff;
	}
	#showleft .feather {
		width: 11px;
		height: 11px;
	}

#rightcolumn {
	position: absolute;
	border-left: 1px solid #bbb;
}

#treespace {
	position: relative;
	background-color: #ffffff;
	font-size: 95%;
	overflow: auto;
	border-bottom: 1px solid #bbb;
}

#treemenu {
	position: relative;
	width: 99.8%;
	height: 35px;
	background-color: #F2F0F1;
	display:block;
	/*font-size: 11px;*/
	/*font-family: Verdana;*/

}

.projectrow {
	display: inline-block;
	width: 100%;
	height: 30px;
	/*font-size: 10px;*/
	/*font-family: Verdana;*/
}

.projectrowname {
	display: inline-block;
	width: 100px;
	padding-left: 5px;
	text-align: left;
	vertical-align: middle;
}

.projectrowname:hover {
	cursor: pointer;
}

.projectbuttons {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}


.projectrowbutton {
	height: 23px;
	padding: 2px;
	width: auto;
	float:right;
	font-size: 90%;
	/*font-size: 10px;*/
	/*font-family: Verdana;*/
}

.projectrowbutton:hover {
	cursor: pointer;
}

.projecticon {
	float: left;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	/*font-size: 10px;*/
	/*background-image: url('images/proj.png');*/
}

.projecticon:hover {
	background-color: #eeeeff;
}

.projectname {
	position: relative;
	text-align: center;
	/*font-size: 10px;*/
}

#propedit {
	position: relative;
	background-color: #F2F0F1;
	padding-left: 10px;
	padding-top: 10px;
	overflow: auto;
	/*font-size: 11px;*/
}

#designspace {
	position: relative;
	border-top: 1px solid #bbb;
	background-color: #444;
	padding: 10px;
	box-sizing: border-box;
}

.canvas-table {
	display: table;
	width: 100%;
	height: 100%;
	/*outline: 1px solid lime;*/
}

.canvas-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	/*outline: 1px solid cyan;*/
}

.screenspace {
	/*border: 1px dotted #ccc;*/
	background: #fff;
	text-align: center;
	display: inline-block;
	/*position: absolute;
	left: 1px;
	top: 1px;
	border: 1px dashed #8888bb;*/
}

#menu {
	position: relative;
	height: 35px;
	width: 99.8%;
	background-color: #F2F0F1;
	display:block;
	/*font-size: 11px;*/
	/*font-family: Verdana;*/
}

#objecttypeselect {
	width: 10em;
	/*font-size: 11px;*/
	/*font-family: Verdana;*/

}

#actiontypeselect {
	width: 10em;
	/*font-size: 11px;*/
	/*font-family: Verdana;*/

}

#libmenu {
	position: relative;
	height: 35px;
	width: 100%;
	background-color: #E4F1FB;
	display:block;
	border-top: 1px solid #E4F1FB;
	/*font-family: Verdana;*/
	/*font-size: 11px;*/
}

#libpane {
	position: relative;
	background-color: #ffffff;
	border-top: 1px solid #bbb;
	width: 99.8%;
	overflow: auto;
}

#actionmenu {
	position: relative;
	height: 35px;
	width: 100%;
	background-color: #E4F1FB;
	display:block;
	border-top: 1px solid #E4F1FB;
	/*font-family: Verdana;*/
	/*font-size: 11px;*/
}

#actionpane {
	position: relative;
	background-color: #ffffff;
	border-top: 1px solid #bbb;
/*	width: 99.8%; */
	overflow: auto;
}

#filterpanel {
	float:right;
	width: 380px;
	padding: 3px;
	/*font-size: 11px;*/
	/*font-family: Verdana;*/
}

.buttonbox {
	float:left;
	vertical-align: middle;
	padding: 3px;
	/*font-size: 11px;*/
	/*font-family: Verdana;*/
}

.menubutton {
	height: 30px;
	line-height: 10px;
	width: 60px;
	/*font-size: 12px;*/
}

.menubutton-link,
a.menubutton-link {
	color: #003965;
	height: 30px;
	line-height: 10px;
	width: 60px;
	/*font-size: 12px;*/
}

.actionmenubutton {
	height: 30px;
	line-height: 10px;
	width: 60px;
	/* font-size: 12px; */
}

.tablebutton {
	height: 25px;
	line-height: 10px;
	width: 100px;
	/*font-size: 12px;*/
}

.tablekey {
	text-align: left;
	width: 60px;
	padding: 2px 5px;
}

.tableval {
	text-align: left;
	padding: 2px 5px;
}

.tableval input[type=text],
.tableval select {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
}

.tableval select {
	height: auto;
}

.guirow {
	width: 80%;
	display: inline;
}

.tablegui {
	/*font-size: 10px;*/
	width: 50%;
	vertical-align: middle;
}

.tablenudge {
	height: 20px;
	/*width: 10px;*/
	/*font-size: 12px;*/
	vertical-align: middle;
	text-align: center;
}


/*----- Tabs ----- Thanks to Seb Kay http://inspirationalpixels.com - modified*/
.tabs {
    width:99.8%;
    display:inline-block;
    background-color: #F2F0F1;
    border-top: 1px solid #bbb;
}

    /*----- Tab Links -----*/
    /* Clearfix */
 /*   .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 */
    .tab-links {
    	margin: 10px 0 0 10px;
    	padding: 0;
    	/*height: 10px;*/
    }

    .tab-links li {
        margin:0px 5px;
        /*float:left;*/
        display: inline-block;
        list-style:none;
    }

        .tab-links a {
            padding:5px 5px;
            display:inline-block;
            border-width: 1px 1px 0px 1px;
            border-color: #bbb;
            border-style: solid;
            border-radius:5px 5px 0px 0px;
            background:#fff;
            /*font-size:11px;*/
            text-decoration:none;
            font-weight:normal;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }

        .tab-links a:hover {
            background:#003965;
            text-decoration:none;
            color: #fff;
        }

    li.active a, li.active a:hover {
        background:#003965;
        color:#fff;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
    	border-top: 1px solid #bbb;
        padding:0px;
        /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15); */
        /*background:#aff;*/
    }

     .tab {
         display:none;
     }

     .tab.active {
         display:block;
     }


.ll-simple > li.treemenu-left-toggle {
	float: right;
}

	.treemenu-left-toggle .feather {
		width: 11px;
		height: 11px;
	}



.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0; }
  .modal:target, .modal.active {
    display: flex;
    opacity: 1;
    z-index: 400; }
    .modal:target .modal-overlay, .modal.active .modal-overlay {
      background: rgba(247, 248, 249, 0.75);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .modal:target .modal-container, .modal.active .modal-container {
      -webkit-animation: slide-down .2s ease 1;
              animation: slide-down .2s ease 1;
      z-index: 1; }
  .modal.modal-sm .modal-container {
    max-width: 320px;
    padding: 0 0.4rem; }
  .modal.modal-lg .modal-overlay {
    background: #fff; }
  .modal.modal-lg .modal-container {
    box-shadow: none;
    max-width: 960px; }

.modal-container {
  box-shadow: 0 0.2rem 0.5rem rgba(48, 55, 66, 0.3);
  background: #fff;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  max-width: 640px;
  padding: 0 0.8rem;
  width: 100%; }
  .modal-container.modal-fullheight {
    max-height: 100vh; }
  .modal-container .modal-header {
    color: #303742;
    padding: 0.8rem; }
  .modal-container .modal-body {
    overflow-y: auto;
    padding: 0.8rem;
    position: relative; }
  .modal-container .modal-footer {
    padding: 0.8rem; }




.toggle-check {

}

.toggle-content {
	display: none;
}
.toggle-check:checked ~ .toggle-content {
	display: block;
}

.toggle-check:checked ~ .modal {
	display: flex;
    opacity: 1;
    z-index: 400;
}
.toggle-check:checked ~ .modal .modal-overlay {
	background: rgba(247, 248, 249, 0.75);
	bottom: 0;
	cursor: default;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.toggle-check:checked ~ .modal .modal-container {
	z-index: 1;
}

.modal .layer-data {
	width: 100%;
	height: 150px;
}
