
.konvajs-content {
    margin-left: auto;
    margin-right: auto;
}

#functionbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	right: 0;
   /*display: inline-block;	*/

	min-height:80px;
	width:auto;
	z-index: 10;
}

.title {
	padding: 15px;
	background: #444;
	color: #fff;
}

.controls {
	padding: 15px;
	background: #F2F0F1;
}

.project-name {
	font-size: 18px;
	font-weight: normal;
	line-height: 1;
	display: block;
	margin: 0;

}
