
.title {
	padding: 15px;
	background: #444;
	color: #fff;
}

	.project-name {
		font-size: 18px;
		font-weight: normal;
		line-height: 1;
		display: block;
		margin: 0;
	}

.controls {
	padding: 15px;
	background: #F2F0F1;
}

	.controls .pure-button {
		margin-right: 1em;
	}

.views {
	padding: 45px 15px;
}

.view-link {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 15px 15px 30px 15px;
	background: #F2F0F1;
	font-size: 125%;
	color: #003965;
}
