{% set body_class = "player-project" %}
{% set page_title = project.name %}
{% extends "../layouts/player.html" %}

{% block content %}

<div class="wrapper wrapper-shaded" data-player="{{ project.slug }}" data-projectname="{{ project.name }}">

	<div class="container">
		<div class="pure-g">

			{% if documentation %}
			<div class="pure-u-1 pure-u-md-3-5">
				<div class="box box-white">
					<div class="box-content">
						{{ documentation | safe }}
					</div>
				</div>
			</div>
			{% endif %}

			<div class="pure-u-1 pure-u-md-2-5">

				<div class="box box-white">
					<div class="box-content">
						<h3 class="box-title">Controls</h3>
						<button class="pure-button" data-ui="btnStart"><i class="fa fa-fw fa-play"></i> Start </button>
						<button class="pure-button" data-ui="btnPrev"><i class="fa fa-fw fa-step-backward"></i> Back </button>
						<button class="pure-button" data-ui="btnNext">Next <i class="fa fa-fw fa-step-forward"></i></button>
					</div>
				</div>

				<div class="box box-white">
					<div class="box-content">
						<h3 class="box-title">Views</h3>
						<nav class="pure-menu views-menu">
							<ul class="pure-menu-list" data-ui="views">
								<div data-ui="loading"><br><p>Loading...</p></div>
							</ul>
						</nav>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

{% endblock %}

{% block scripts %}
<script src="/jquery-2.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/player-widget.js"></script>
{% endblock %}

