<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/living-lab.min.css">
		<link rel="stylesheet" href="/screen.css">
		<link rel="stylesheet" href="/player-widget.css">
		<script type="text/javascript" src="/konva.js"></script>
		<script type="text/javascript" src="/jquery-2.1.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/howler.core.min.js"></script>
		<script src="/llcore.js"></script>
		<script src="/arrows.js"></script>
		<script src="/actions.js"></script>
		<script src="/screen.js"></script>
		<script src="/player-widget.js"></script>
		<script type="text/javascript">
		var socketmessage = "{{ viewName | safe }}";
		window.screen_name = "{{ viewName | safe }}";
		window.project = {{ project | dump | safe }};
		</script>
	</head>
	<body>
		<div class="audio-enabler">Click anywhere on this page to allow audio playback on this screen.</div>
		<div class="functionbox" data-player="{{ project.slug }}" data-view="{{ viewName | safe }}" data-projectname="{{ project.name }}">
			<div class="title">
				<h1 class="project-name">Living Lab Player: <span data-ui="projectName"></span></h1>
			</div>
			<div class="controls">
				<button class="pure-button size-xs" data-ui="btnStart"><i class="fa fa-fw fa-play"></i> Start </button>
				<button class="pure-button size-xs" data-ui="btnPrev"><i class="fa fa-fw fa-step-backward"></i> Back </button>
				<button class="pure-button size-xs" data-ui="btnNext">Next <i class="fa fa-fw fa-step-forward"></i></button>
				<label for="loop"><input type="checkbox" name="loop" id="loop" checked="false"> Loop </label>
			</div>
		</div>
		<div class="page">
			<div class="canvas-table">
				<div class="canvas-cell">
					<div id="container" class="screenspace"></div>
				</div>
			</div>
		</div>
	</body>
</html>
