
html {

}

body {
	font-family: Verdana;

}

input {
	font-family: Verdana;
	font-size: 11px;

}

select {
	font-family: Verdana;
	font-size: 12px;
	height: 30px;

}

#page {
	position: absolute;
	width: 98%;
	height: 98%;
	border: 2px solid #8888bb;
}

#screencontrol {
	float: right;

}

#leftcolumn {
	position: absolute;
	left: 0px;
	top: 0px;

}

#rightcolumn {
	position: absolute;
	border-left: 1px solid #8888bb;
}

#treespace {
	position: relative;
	background-color: #ffffff;
	font-size: 11px;
	overflow: auto;
	border-bottom: 1px solid #8888bb;
}

#treemenu {
	position: relative;
	width: 99.8%;
	height: 35px;
	background-color: #bbbbee;
	display:block;
	font-size: 11px;
	font-family: Verdana;

}

.projectrow {
	display: inline-block;
	width: 100%;
	height: 30px;
	font-size: 10px;
	font-family: Verdana;
}

.projectrowname {
	display: inline-block;
	width: 100px;
	padding-left: 5px;
	text-align: left;
	vertical-align: middle;
}

.projectrowname:hover {
	cursor: pointer;
}

.projectbuttons {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}


.projectrowbutton {
	height: 23px;
	padding: 2px;
	width: auto;
	float:right;
	font-size: 10px;
	font-family: Verdana;
}

.projectrowbutton:hover {
	cursor: pointer;
}

.projecticon {
	float: left;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	font-size: 10px;
	/*background-image: url('images/proj.png');*/
}

.projecticon:hover {
	background-color: #eeeeff;
}

.projectname {
	position: relative;
	text-align: center;
	font-size: 10px;
}

#propedit {
	position: relative;
	background-color: #bbbbee;
	padding-left: 10px;
	padding-top: 10px;
	overflow: auto;
	font-size: 11px;
}

#designspace {
	position: relative;
	border-top: 1px solid #8888bb;
}

.screenspace {
	position: absolute;
	left: 1px;
	top: 1px;
	border: 1px dashed #8888bb;
}

#menu {
	position: relative;
	height: 35px;
	width: 99.8%;
	background-color: #bbbbee;
	display:block;
	font-size: 11px;
	font-family: Verdana;
}

#objecttypeselect {
	width: 10em;
	font-size: 11px;
	font-family: Verdana;

}

#actiontypeselect {
	width: 10em;
	font-size: 11px;
	font-family: Verdana;

}

#libmenu {
	position: relative;
	height: 35px;
	width: 100%;
	background-color: #ccccee;
	display:block;
	border-top: 1px solid #ccccee;
	font-family: Verdana;
	font-size: 11px;
}

#libpane {
	position: relative;
	background-color: #ffffff;
	border-top: 1px solid #bbbbee;
	width: 99.8%;
	overflow: auto;
}

#actionmenu {
	position: relative;
	height: 35px;
	width: 100%;
	background-color: #ccccee;
	display:block;
	border-top: 1px solid #ccccee;
	font-family: Verdana;
	font-size: 11px;
}

#actionpane {
	position: relative;
	background-color: #ffffff;
	border-top: 1px solid #ccccee;
/*	width: 99.8%; */
	overflow: auto;
}

#filterpanel {
	float:right;
	width: 380px;
	padding: 3px;
	font-size: 11px;
	font-family: Verdana;
}

.buttonbox {
	float:left;
	vertical-align: middle;
	padding: 3px;
	font-size: 11px;
	font-family: Verdana;
}

.menubutton {
	height: 30px;
	line-height: 10px;
	width: 60px;
	font-size: 12px;
}

.actionmenubutton {
	height: 30px;
	line-height: 10px;
	width: 60px;
	font-size: 12px;
}

.tablebutton {
	height: 25px;
	line-height: 10px;
	width: 100px;
	font-size: 12px;
}

.tablekey {
	text-align: left;
	width: 60px;
	padding: 2px 5px;
}

.tableval {
	text-align: left;
	padding: 2px 5px;
}

.tableval input[type=text],
.tableval select {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
}

.guirow {
	width: 80%;
	display: inline;
}

.tablegui {
	font-size: 10px;
	width: 50%;
	vertical-align: middle;
}

.tablenudge {
	height: 20px;
	width: 10px;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}


/*----- Tabs ----- Thanks to Seb Kay http://inspirationalpixels.com - modified*/
.tabs {
    width:99.8%;
    display:inline-block;
    background-color: #bbbbee;
    /*border-top: 1px solid #8888bb; */
}

    /*----- Tab Links -----*/
    /* Clearfix */
 /*   .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 */
    .tab-links {
    	height: 10px;

    }

    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

        .tab-links a {
            padding:5px 5px;
            display:inline-block;
            border-width: 1px 1px 0px 1px;
            border-color: #bbbbee;
            border-style: solid;
            border-radius:5px 5px 0px 0px;
            background:#fff;
            font-size:11px;
            text-decoration:none;
            font-weight:normal;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }

        .tab-links a:hover {
            background:#8888bb;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#ccccee;
        color:#000;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        padding:0px;
        /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15); */
        background:#aff;
    }

     .tab {
         display:none;
     }

     .tab.active {
         display:block;
     }