
html {

}

body {
	font-family: Verdana;

}

input {
	font-family: Verdana;
	font-size: 11px;

}

select {
	font-family: Verdana;
	font-size: 12px;
	height: 30px;

}

#page {
	position: absolute;
	width: 98%;
	height: 98%; 
	border: 2px solid #8888bb;
}

#functionbox {
	position: relative;
   /*display: inline-block;	*/
	padding: 5px;
	height:25px ;
	width:auto;
	border-bottom: 1px solid #8888bb;
	font-family: Verdana;
	font-size: 12px;	
}

#playspace {
	position: relative;
	padding: 5px;
	overflow: auto;
}

#nextbutton {
	float:right;
	font-family: Verdana;
	font-size: 12px;	
	height:25px;
	width:auto;


}

